# Node.js dependencies
/node_modules
/audio_recordings
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Optional lock files (if you use only one package manager, ignore others)
# Uncomment the ones you don't need
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
